# Ignore node_modules
node_modules/

# Ignore cache files
.cache/
*.cache/

# Ignore build outputs from jest and postcss
*.nyc_output/

# Ignore environment-specific files
.env

# React build output
epicpro-frontend/build/
